<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_NhaSach.Properties.Settings.QL_NhaSachConnectionString"
            connectionString="Data Source=NGOCDZ\SQLEXPRESS02;Initial Catalog=QL_NhaSach;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>